{{ define "main" }}
  <div class="homepage">
    <img class="avatar" src="{{ .Site.Author.picpath }}" style="width: 100px;">
    {{ .Content }}

    <hr>
    <h3 id="accounts">Accounts</h3>
    <ul>
      <li>
        Github: <a href="{{ .Site.Author.github }}" target="_blank">
          {{ .Site.Author.github }}
        </a>
      </li>
      <li>
        Facebook: <a href="{{ .Site.Author.facebook }}" target="_blank">
          {{ .Site.Author.facebook }}
        </a>
      </li>
      <li>
        Twitter: <a href="{{ .Site.Author.twitter }}" target="_blank">
          {{ .Site.Author.twitter }}
        </a>
      </li>
      <li>
        Hatena Blog: <a href="{{ .Site.Author.blog }}" target="_blank">
          {{ .Site.Author.blog }}
        </a>
      </li>
      <li>
        Qiita: <a href="{{ .Site.Author.qiita }}" target="_blank">
          {{ .Site.Author.qiita }}
        </a>
      </li>
      <li>
        booklog: <a href="{{ .Site.Author.booklog }}" target="_blank">
          {{ .Site.Author.booklog }}
        </a>
      </li>
    </ul>

    {{ if .Site.Menus.pages }}
      <h3>Pages</h3>
      <ul>
        {{ $currentPage := . }}
        {{ range .Site.Menus.pages }}
          <li>
            <a href="{{ .URL | relURL }}">
              {{ .Name }}
            </a>
          </li>
        {{ end }}
      </ul>
    {{ end }}

    <h3>Posts</h3>
    <ul>
      <li>
        <a href="/posts/">{{ i18n "postsList" . }}</a></li>
      <li>
        <a href="/categories/">{{ i18n "categories" . }}</a>
      </li>
      <li>
        <a href="/tags/">{{ i18n "tags" . }}</a>
      </li>
    </ul>

    <a class="twitter-timeline" data-width="50%" data-height="600" href="https://twitter.com/tic40?ref_src=twsrc%5Etfw"></a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

  </div>
{{ end }}
